# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env
.env.*

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Database / local files
# -------------------------
*.sqlite3
*.db

# -------------------------
# Secrets
# -------------------------
*.pem
*.key
